.milkdown {
    position: relative;

    .ProseMirror {
        padding: 0px;

        .codemirror-host {
            border: 1px solid #e2e2e2;
            border-radius: 3px;
        }

        table {
            width: auto;
        }
    }

    .ProseMirror-focused {
        outline: none;
    }

    .ProseMirror-selectednode {
        outline: none;
    }

    ul:has(milkdown-list-item-block input) {
        padding-left: 0px;
    }

    milkdown-list-item-block {
        display: block;

        .list-item:has(input) {
            display: flex;
            align-items: flex-start;

            .children {
                line-height: 24px;

                p {
                    padding-bottom: 0px !important;
                }
            }

            ul {
                margin-bottom: 0px;
                padding-left: 20px;
            }
        }
    }
}

#wysiwyg_content_text {
    height: 500px;
    overflow-y: auto;
}

.jstb_extlink {
    background-image: url(../../../images/external.png);
}
